@model IEnumerable<BHLD.Model.Models.ot_other_list>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh mục tham số</h3>
                    </div>
                    <div class="container-button" style="margin-top:10px">
                        <button type="button" style=" margin-left:20px; background-color:violet; border:none" data-toggle="modal" data-target="#myCreateModal">
                            <i class="fas fa-plus"></i> Thêm
                        </button>
                        <button type="button" style="  background-color:violet; border:none" data-toggle="modal" data-target="#myEditModal"><i class="fas fa-edit"></i>Sửa</button>
                        <button type="button" style=" background-color:violet; border:none"><i class="fas fa-check"></i>Áp dụng</button>
                        <button type="button" style="  background-color:violet; border:none"><i class="fas fa-ban"></i>Không áp dụng</button>
                        <button type="button" style="  background-color:violet; border:none"><i class="fas fa-trash-alt"></i>Xoá</button>
                    </div>

                    @*create modal form*@
                    <div id="myCreateModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>Thêm mới</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            Mã tham số
                                            <div class="col-md-10">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            Tên tham số
                                            <div class="col-md-10">
                                                //
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Loại tham số
                                            <div class="col-md-10">
                                                //
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Tình Trạng
                                            <div class="col-md-10">
                                                <div class="checkbox">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">

                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </div>


                    @*edit modal form*@
                    <div id="myEditModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>Cập nhật</h4>
                                        <hr />
                                        <div class="form-group">
                                            Mã tham số
                                            <div class="col-md-10">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            Tên tham số
                                            <div class="col-md-10">
                                                //
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Loại tham số
                                            <div class="col-md-10">
                                                //
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Tình Trạng
                                            <div class="col-md-10">
                                                <div class="checkbox">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">

                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã tham số</th>
                                    <th>Tên tham số </th>
                                    <th>Loại tham số </th>
                                    <th>Tình trạng</th>
                                </tr>
                            </thead>
                            @*<tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.hu_province.code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.district_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.remark)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.created_by)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.created_date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.created_log)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.modified_date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)
                                            </td>
                                        </tr>
                                    }

                                </tbody>*@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
