@model IEnumerable<BHLD.Model.Models.hu_protection_setting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hu_Protection_Size.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.butt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.belt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shoulder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actfg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_log)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hu_Protection_Size.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.belly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.butt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.belt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shoulder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actfg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_log)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
